body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: black;
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background: linear-gradient(to right, black, gold);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background: gold;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  margin-top: 15px;
}

.featured {
  padding: 50px;
  text-align: center;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background: white;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.product-card img {
  width: 100%;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}